
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    env_file:
      - variables.env
    ports:
      - "3307:3306"
    volumes:
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db-data:/var/lib/mysql
      - db-data:/var/log/mysql

volumes:
  db-data:
